@import 'tailwindcss';
@config '../../tailwind.config.ts';

@theme {
    --color-dark: red;
    --color-darker: red;
    --color-normal: red;
    --color-light: red;
    --color-extralight: red;
    --color-superlight: red;
    --color-almostbright: red;
    --color-bright: red;
    --color-sidebar: red;
    --color-login: red;

  /* Responsive breakpoints */
    --breakpoint-2xs:   320px;
    --breakpoint-xs:    480px;
    --breakpoint-sm:    640px;
    --breakpoint-md:    768px;
    --breakpoint-lg:    1024px;
    --breakpoint-xl:    1280px;
    --breakpoint-2xl:   1400px;
}

@utility noscroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --w-sidebar:  13rem;
    --h-navbar:   3rem;
    --h-pageInfo: 5rem;
    transition: background 0.4s, color 0.4s;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-dark: #0a0a0a;
	--color-darker: #121212;
    --color-normal: #171717;
    --color-light: #212121;
    --color-extralight: #323232;
    --color-superlight: #424242;
    --color-almostbright: #6b6b6b;
    --color-bright: white;
    --color-login: #fd8738;
}

.light {
    --background: #ffffff;
    --foreground: #171717;
    --color-dark: #e7e5dd;
    --color-darker: #e7e5dd;
    --color-normal: #fafdf3;
    --color-light: #f0efe0;
    --color-extralight: #c9c9c9;
    --color-superlight: #b0b0b0;
    --color-almostbright: #848484;
    --color-bright: black;
    --color-login: #fd8738;
}

body {
    color: var(--foreground);
    background: var(--color-normal);
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.4s, color 0.4s;
}

.link--corner-hover {
    position: relative;
}

.link--corner-hover:after {
    content: ' ';
    position: absolute;
    width: .8em;
    height: .8em;
    bottom: .4em;
    right: .4em;
    border-right: .2em solid transparent;
    border-bottom: .2em solid transparent;
    transition: .2s;
}

.link--corner-hover:hover::after {
    border-color: var(--color-login);
    right: 0;
    bottom: 0;
}
